input::-webkit-calendar-picker-indicator {
  display: none;
}
#container{

}
#another{
	width:500px;
}
#keywordsInput{
	width: 80%;
	padding: 5px 9px 5px 9px;
	display: inline-block;
}
.indexFrame{
	margin: 100px auto;
	width:50%;
	min-width: 360px;
	max-width: 480px;
}
.firstLogoDiv{
	margin:0 auto;
	width: 80%;
}
.firstLogo{
	margin:0 auto;
	width: 100%;
}
.searchInputWrapper{
	padding: 2%;
	margin:0 auto;
	width:100%;
}
.buttonsWrapper{
	width:18%;
	max-width:80px;
	height: 35px;
	padding: 5px 9px 5px 9px;
	display: inline-block;
}
.searchBar .buttonsWrapper{
	width:12%;
	max-width:80px;
	height: 35px;
	padding: 2px 9px 5px 2px;
}
.myBtn{
	background-color: white;
	color: black;
	border-radius: 4px;
	border: 2px solid #ccc;
	height: 100%;
	width: 100%;
	font-weight: bold;
}
.resultFrame{
}
.resultList ul{
	list-style-type:none;
	font-size: 18px;
	padding-left: 10px; 
}
.resultList span{
	font-size: 14px;
	color: black;
}
.resultList em{
	font-weight: bold;
}
.searchBar{
	min-width:600px;
	background-color: #f1f1f1;
}
.smLogo{
	height: 38px;
	padding: 4px 4px 4px 4px;
	margin-left: 8px;
}
.searchBar div{
	color:grey;
	padding: 3px;
	display: inline-block;
}
#searchTime{
	font-size: 12px;
}
.searchTip{
	height: 20px;
	font-weight:bold;
}
.promptWords{
	color: #1a0dab;
	font-weight: bold;
	font-weight:bold;
}
.stillSearch{
	font-size:16px;
}
.origSearch{
	color: #1a0dab;
	font-size:16px;
	cursor:pointer;
}
.resultList{
	width: 50%;
	margin: 20px 0px 0px 110px;
	font-size:24px;
}
.resultList li{
	color: #1a0dab;
	padding-bottom:15px;
}
.icon{
	font-size:20px;
	color: white;
}
.initWords{
	font-size: 16px;
	border-radius: 3px;
	width: 100%;
	border: 1px solid #ccc;
	padding-left: 5px;
}
.chosedItem{
	display: inline-block;
	margin-right: 15px;
	font-size: 16px;
}
.unchosedItem{
	display: inline-block;
	margin-right: 15px;
	cursor:pointer;
	font-size: 16px;
	color:#f40;
}
#suggestList{
	list-style-type:none;
	margin-left:10px;
	padding:0px;
	border: 1px solid #aaa;
	width:70%;
	min-width:200px;
	background-color:white;
}
.suggestItem{
	cursor:pointer;
	font-size:16px;
}
#chosedItem{
    background-color: #bbb;
    color: black;
}
.logoVictim{
	height: 40px;
	background-color: #f1f1f1;
	display:inline;
}
