.indexFrame{
	margin: 0 auto;
	width:40%;
}
.firstLogo{
	margin:0 auto;
	width: 100%;
}
.searchInputWrapper{
	padding: 5%;
	margin:0 auto;
	width:70%;
}
#keywords{
	width: 100%;
	margin: 2px 0px 2px 0px; 
}
.buttonsWrapper{
	margin:0 auto;
	width: 64px;
}
.fancyButtonDiv{
	width: 100%;
	margin:8px 0px 8px 0px;
}
